table,
th,
td {
    border: 1px solid red;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

th,
td {
    padding:10px ;
    text-align: right;
    vertical-align: top;
}


