/*.col,
.col-1,
div[class*='col-']{
    border: 1px solid black;
}*/

body{
    background: #122225;
}

.img-thumbnail{
    background-color: #F7FFC9;
}

.imageProfile{
    width: 170px;
    height: 170px;
    left: 478px;
    margin: 20px auto;
    margin-left: 100px;
    background: rgb(0, 0, 0);
    border: 5px solid #F7FFC9;
    border-radius: 50%;
    border-style: double;

    text-align: center;
}


#name{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: white;
    margin: auto;
}

.exImage{
    width: 140px;
    height: 170px;
    left: 478px;

    background: #FF6107;
    border: 5px solid #FF6107;
    margin: 20px;
}

.tableExImage{
    background: #F0F0F0;
    border-radius: 8px;

    margin: 50px auto;
}

.trExImage{
    height: 200px;
    width: 500px;

    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
}

.actName{
    margin-top: 20px;
    margin-right: 20px;
}

/*bio & preference*/
#bioContainer{
    height: 200px;
    width: 530px;
    margin: 20px auto;

    background-color: #F0F0F0;
    border-radius: 8px ;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*speciality*/
#specialityContainer{
    height: 200px;
    width: 1100px;
    margin: 20px auto;


    background-color: #F0F0F0;
    border-radius: 8px ;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.speciality{
    padding: 20px;
}

.table{
    width: 100%;
    table-layout: fixed;
    padding: 20px;
}

* {box-sizing: border-box}

.fullbar{
    width: 100%;
    background-color: #9C9C9C;
}

.html{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 70%; 
    background-color: #FF0000;
}

.css{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 60%; 
    background-color: #05FF00;
}

.javascript{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 50%; 
    background-color: #00F0FF;
}

/*footer*/
#footer{
    background-color: #F7FFC9;
    height: 110px;  
    width: 100%;
  }

.logo{
    width: 300px;
    height: 80px;
    left: 28px;
    top: 909px;
    
    background: #3A1D1D;
    border: 10px solid #3A1D1D;
    border-radius: 8px;
    margin: 15px 10px;
    padding: 15px 72px;
    
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
    }

.fa {
    font-size: 30px;
    height: 50px;
    width: 50px;
    padding-top: 9px;
    padding-left: 12px;
    margin: 5px;
    text-decoration: none;
    border-radius: 50%;
}
  
  .fa:hover {
      opacity: 0.9;
  }
  
  .fa-facebook {
    padding-left: 16px;
    padding-top: 12px;
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .address{
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
  }