table,
td,
tr{
    border: 5px solid white;
    padding: 50px;
}

td.green{
    background-color: seagreen;
}

.onHover:hover{
    cursor: pointer;
}

td.red{
    background-color: red;
    
}

.onHoverR:hover{
    cursor: text;
}

td.grey{
    background-color: grey;
}
