img{
    height: 200px;
    width: 200px;
}

a{
    text-decoration: none;
}

/* unvisited link*/

a:link{
    color: red;
}

/*visited link*/

a:visited{
    color: green;
}

/*mouse over link*/

a:hover{
    color: hotpink;
}

/*selected link*/

a:active{
    color: blue;
}

.onHover:hover{
    cursor: pointer;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}