table,
td,
tr{
    border: 5px solid white;
    border-collapse: collapse;
}

img{
    height: 200px;
    width: 200px;
}

.camt{
    padding-bottom: 100px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

body > table > tbody > tr:nth-child(2) > td:nth-child(3) > a > img{
    border-radius: 50%;
}

#googleLogo{
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
}

[target="_blank"]{
    text-decoration: line-through;
}