table,
th,
td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
    table-layout: fixed;
}

img.round{
    border-radius: 8px;
}

img.blur{
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.synopsis{
    color: #7e8184;
    font-style: italic;
}

.button{
    color: #ffffff;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;

    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}

.button:hover{
    cursor: none;
}

.button:active{
    cursor: wait;
}

.page{
    width: 600px;
    margin: 0 auto;
}